{% extends 'conveyerLine.html' %}
{% load static %}
                            {% block active %}
										<div id="ssx_threeMenu" class="collapse in" aria-expanded="true">
											<ul class="nav">
                                                <li><a href="/conveyerLine/" >扫描节点记录</a></li>
                                                <li><a href="/Address/" >OPC地址记录</a></li>
                                                <li><a href="/Rddress/" class="active">串口记录</a></li>
											</ul>
										</div>
                                       {% endblock %}
                            {% block address %}
                                <div class="operaBtns">
                                    <div class="operaBtn">
                                        <form action="">
                                            <a class="tbAdd btnOpe " data-toggle="modal" data-target="#addModal">
                                                <i class="fa fa-plus-square-o"></i>
                                                新增
                                            </a>
                                        </form>
                                    </div>

                                    <div class="operaBtn">

                                            <a class="tbEdt btnOpe" href="/Rddress/">
                                                <i class="fa fa-refresh"></i>
                                                刷新
                                            </a>

                                    </div>
                                    <div class="operaBtn">

                                            <a   class="tbSve btnOpe" onclick="delRow()">
                                                <i class="fa fa-trash-o"></i>
                                                    删除
                                            </a>

                                    </div>
                                </div>
                                <!--新增模态框-->
                                <form action="/Route_Add/" method="get">
                                    {% csrf_token %}
                                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modalHeader">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                            &times;
                                                        </button>
                                                        <h3 class="modal-title" id="myModalLabel" >
                                                            新增
                                                        </h3>
                                                    </div>

                                                    <div class="modalBody">
                                                            <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-md-6">
                                                                    <label for="serNum" class="labTh">串号</label>
                                                                    <input type="text" id="serNum" name="serialno" class="eptIpt">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="eptID" class="labTh">源节点</label>
                                                                    <input type="text" id="eptID"  name="dextinnode" class="eptIpt">
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-md-6">
                                                                    <label for="eptName" class="labTh">目标节点</label>
                                                                    <input type="text"  name="destinnode" class="eptIpt">
                                                                </div>

                                                            </div>
                                                            </div>

                                                    </div>
                                                    <div class="modalFooter">
                                                    <button type="submit" class="modalBtn"   >
                                                            保存
                                                    </button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal -->
                                        </div>
                                    </form>




                            <!--更改数据模态框-->
                                    <form action="/Route_Midified/" method="get">
                                        {% csrf_token %}
                                        <div class="modal fade" id="mdyModal" tabindex="-1" role="dialog" aria-labelledby="mdyModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modalHeader">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                            &times;
                                                        </button>
                                                        <h3 class="modal-title" id="mdyModalLabel" >
                                                            修改
                                                        </h3>
                                                    </div>
                                                    <div class="modalBody mdymodalBody">
                                                            <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-md-6">
                                                                    <label for="eptID" class="labTh">串口</label>
                                                                    <input type="text" id="eptID"  name="serialno" value="" class="eptIpt">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="eptID" class="labTh">源节点</label>
                                                                    <input type="text" id="eptID"  name="sourcenode" value="" class="eptIpt">
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="col-md-6">
                                                                        <label for="eptName" class="labTh">目标节点</label>
                                                                        <input type="text" id="eptName" name="destinnode" value="" class="eptIpt">
                                                                    </div>

                                                                </div>

                                                            </div>
                                                    </div>
                                                    <div class="modalFooter">
                                                        <button type="submit" class="modalBtn">
                                                                保存
                                                        </button>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal -->
                                        </div>
                                    </form>
                            <div class="panel-body">

                                <div  class="col-md-12 overTb">
                                <form action="/Route_Search/" method="get">
                                    <div class="row">
                                        <div class="form-group">
                                            <input type="text" name="serialno" id="sbIpt" placeholder="请输入串号">
                                            <button id="sbBtn" class=" fa fa-search"></button>
                                        </div>
                                    </div>
                                </form>
                                <div class="col-md-12">
                                <form action="">
                                    <div class="row" >
                                        <input type="text" id="txtIpt" onblur="save(this)"/>
                                    </div>
                                    <div class="row">
                                    <div class="tbodyBox">
                                    <table class="table table-bordered " id="opeTb">
                                        <thead>
                                        <tr id="addTH" >
                                            <th>操作</th>
                                            <th>串号</th>
                                            <th>源节点</th>
                                            <th>目标节点</th>

                                        </tr>
                                        </thead>
                                        <tbody id="tbody">

                                        {% if list_serialno %}
                                            {% for b in list_serialno %}
                                        <tr >
                                            <td>

                                                <input type="checkbox" class="delChk">
                                            </td>
                                            <td>{{ b.serialno  }}</td>
                                            <td>{{ b.sourcenode }}</td>
                                            <td >{{ b.destinnode}}</td>

                                        </tr>
                                            {% endfor %}
                                        {% else %}
                                            {% for a in route_list%}

                                        <tr >
                                            <td>
                                                <input type="checkbox" class="delChk">
                                            </td>

                                            <td >{{ a.serialno }}</td>
                                            <td >{{ a.sourcenode}}</td>
                                            <td >{{ a.destinnode }}</td>

                                        </tr>
                                             {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                    </div>
                                    </div>
                                </form>
                                </div>
                                    <div id="barcon" class="barcon" >
                                    <div id="barcon1" class="barcon1"></div>
                                    <div id="barcon2" class="barcon2">
                                        <ul>
                                            <li><a id="firstPage">首页</a></li>
                                            <li><a id="prePage">上一页</a></li>
                                            <li><a id="nextPage">下一页</a></li>
                                            <li><a id="lastPage">尾页</a></li>
                                            <li><input id="jumpWhere"></li>
                                            <li><a id="jumpPage" onclick="jumpPage()">跳转</a></li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endblock %}
{% block footer %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script src="{%  static 'js/table.js' %}"></script>
<script src="{%  static 'js/page.js' %}"></script>
<script type="text/javascript">
    function deleteRow(serial_nbr){
        console.log(serial_nbr);
        del=confirm('确定要删除吗？');
        $.ajax({
                url: '/Route_Delete/',
                type: 'get',
                datatype: 'json',
                data:{
                    'serial_nbr':serial_nbr
                },
            success:function (data) {
                        location.href  ="{% url 'Rddress' %}";
                    },
            })
        }

</script>
{% endblock %}